Repository scorestack/scorestack, pull requests merged in 2021-02, with the labels that each got.

#288 Fix logical error preventing SSH content matching
  CHANGELOG.md
  dynamicbeat/checks/ssh/ssh.go
Labels: area:dynamicbeat, priority:medium, status:review-needed, type:bug

#290 Release 0.6.2
  CHANGELOG.md
  deployment/medium/ansible/playbook.yml
  deployment/small/docker/setup.sh
  dynamicbeat/checks/ssh/ssh.go
  kibana-plugin/package.json
Labels: area:release, priority:high, status:in-progress, type:release

#292 Ignore EOF error from SSH library
  CHANGELOG.md
  dynamicbeat/checks/ssh/ssh.go
Labels: area:dynamicbeat, priority:medium, status:in-progress, type:bug

#293 Fix building typo
  docs/building.md
Labels: area:docs, priority:low, status:in-progress, type:enhancement
